<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.3.1/css/hopscotch.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.3.1/css/hopscotch.min.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.3.1/js/hopscotch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.3.1/js/hopscotch.min.js"></script>
{{ attach_library('bills/hopscotch-styling') }}
<div class="layout-container">
  {% if page.header %}
    <div id="header">
      <div class="container-max">
        <a class="hamburger-menu" >&#9776;</a>
        <a class="hamburger-menu_category" >&#9776;</a>
        {{ page.header }}
      </div>
    </div>
  {% endif %}

  {% if page.menu %}
    <div id="menu">
      <div class="container-max">
        {{ page.menu }}
      </div>
    </div>
  {% endif %}

  <div class="main">
    <div class="container-max flex-container horizontal-container">
      {% if page.sidebar %}
        <div id="sidebar">
          {{ page.sidebar }}
        </div>
      {% endif %}
      {% if page.content %}
        <div id="content" class="layout-content">
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if page.footer %}

    <a href="javascript:" class="return-to-top"><i class="icon-chevron-up"></i></a>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <div id="main_footer">
      <div class="container-max">
        {{ page.footer }}
      </div>
    </div>
  {% endif %}

</div>{# /.layout-container #}
